@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    /* --color-primary-100: oklch(0.86 0.008 219);
    --color-primary-300: oklch(0.717 0.037 225);
    --color-primary-600: oklch(0.495 0.066 239);
    --color-primary-700: oklch(0.361 0.051 250);
    --color-primary-800: oklch(0.241 0.035 257);
    --color-primary-900: oklch(0.168 0.028 258); */

    --color-primary-100: oklch(1 0 0);
    --color-primary-base: oklch(0.8628 0 0);
    --color-primary-200: oklch(0.776 0.033 199 / 0.7);
    --color-primary-300: oklch(0.395 0.045 230 / 0.5);
    --color-primary-900: oklch(0.223 0.032 250);

    --color-custom-200: oklch(0.35 0.02 250); /* Biru abu muda */
    --color-custom-300: oklch(0.26 0.025 250); /* Biru tua */
    --color-custom-900: oklch(0.18 0.02 258);

    /* --color-primary: var(--color-primary-600); */
}
